body {
	text-align:center;
	margin: 0;
	padding: 0;
	background: white;
	font: 16px;
	line-height: 1.5;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	-webkit-font-smoothing: antialiased;
}

.linkbox a{
	color:#339933;
}

.linkbox a:hover{
	color:blue;
}

.linkbox a:active{
	color:black;
}

.section{
	width:90%;
}

.header{
	color: #0066FF;
	text-align:center;
	font-size: 30px;
	font-weight: bold;
}

.linkbox{
	
}

.content{
	color:black;
	font-size:12px;
}

.profiles{
	font-size:14px;
	color: #0066FF;
}

.profiles a{
	color:#336699;
}

.profiles a:hover{
	color:#E62E00;
}

