body {
	text-align:center;
	margin: 0;
	padding: 0;
	background: white;
	font: 16px;
	line-height: 1.5;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	-webkit-font-smoothing: antialiased;
}

.section{
	width:90%;
}

.header{
	color: #0066FF;
	text-align:center;
	font-size: 30px;
	font-weight: bold;
}

.linkbox{
	
}

.link{
	color:#339933;
}

.link:hover{
	color:blue;
}